<style type="text/css">
  .chip-bordered-box {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #F8F8F8;
    padding: 4px;
    margin: 2px;
  }

  .chip-close-button {
    cursor: pointer;
    margin: auto 3px auto 16px;
  }

  .chip-label-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    margin: 0px 2px;
  }
</style>

<div class="chip-bordered-box">
  <div class="chip-label-container">{{ itemLabel }}</div>
  <div class="chip-close-button" (click)="deleteItem()">x</div>
</div>
