<style type="text/css">
  .ps-header {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 100%;
    background: #f2f2f2;
  }
  .ps-title {
    flex: none;
    width: 200px;
    margin-left: 20px;
    color: #db4437;
  }
  .ps-search {
    flex: none;
    padding: 5px;
    width: 200px;
    height: 15px;
    margin: auto 0px;
  }
</style>

<div class="ps-header">
  <h1 class="ps-title">Pattern Search</h1>
  <input #query
         autofocus
         class="ps-search"
         type="text"
         placeholder="What are you looking for?"
         (keyup)="keyUp(query, $event)">
</div>
